@model SampleApp.Models.UserInfoModel

@{
    ViewData["Title"] = "User";
}

<div>
    Name: @Model.name
</div>
<div>
    Phone Number: @Model.phone
</div>
<div>
    Address: @Model.address
</div>
<div>
    Created At: @Model.createdAt
</div>
